.box {
    height: 80px;
}

.row .large {
    height: 715px;
}

.row .medium {
    height: 500px;
}

.row .small {
    height: 300px;
}

.row div {
    height: 100px;
}

.bg-orange{
    background-color: #E98529;
}