.box {
    max-height: 80px;
}

.icon{
    max-width: 5vw;
    max-height: 5vw;
}

.row .large {
    height: 715px;
}

.row .medium {
    height: 500px;
}

.row .small {
    height: 300px;
}

.row div {
    height: 100px;
}

.header {
    margin: 10%;
}

.bg-image{
    min-height: 50%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.bg-orange{
    background-color: #E98529;
}

.hl-text{
    font-family: 'Roboto Mono', monospace;
}