.box{
    max-height: 80px;
}

body{
    margin: auto;
}

.primary-card{
    background-color: white;
    box-shadow: 10%;
    width: 85%;
    height: 110%;
    justify-content: end;
    transform: translateY(2rem);
    padding: 3%;
    border: 5px solid black;
}

.overlay{
    position: absolute;
    width: initial;
    max-width: initial;
    left: 2rem;
    top: 10rem;
}

.list-item{
    display: flex;
    align-items: center;
}

.icon{
    max-width: 5vw;
    max-height: 5vw;
}

.row .large {
    height: 715px;
}

.row .medium {
    height: 500px;
}

.row .small {
    height: 300px;
}

/* .row div {
    height: 100px;
} */

.card{
    margin: 0 auto;
    box-shadow: 2rem;
}

.bg-image{
    min-height: 50%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 0;
}

.bg-orange{
    background-color: #E98529;
}

.hl-text{
    font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 700px) {
    .primary-card{
        transform: translateY(0);
    }
}

@media only screen and (max-width: 600px) {
    .cards{
        flex-direction: column;
    }

    .primary-card{
        display: none;
        transform: translateY(0);
    }

    .overlay{
        display: none;
    }
  }
